<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Keyence.IV.Sdk.Sample_CSharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Keyence.IV.Sdk.Sample_CSharp.Properties.Settings>
            <setting name="IP5" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="IP6" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="ftpDir" serializeAs="String">
                <value>D:\\ftp\CAM</value>
            </setting>
            <setting name="logDir" serializeAs="String">
                <value>D:\\ftp\LOG</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="IP1" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="IP2" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="IP3" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="IP4" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="IPPLC" serializeAs="String">
                <value>10.0.0.70</value>
            </setting>
            <setting name="logLength" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="ODSNr" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="showP2Cam" serializeAs="String">
                <value>False</value>
            </setting>
        </Keyence.IV.Sdk.Sample_CSharp.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
